LibraryManagementClient/LibraryManagementClient/Service References/ServiceReference1/LibraryService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LibraryService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8000/LibraryService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8000/LibraryService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8000/LibraryService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LibraryManagement" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILibraryService_GetBooks_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBooks" />
  </wsdl:message>
  <wsdl:message name="ILibraryService_GetBooks_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBooksResponse" />
  </wsdl:message>
  <wsdl:message name="ILibraryService_GetBooksByName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBooksByName" />
  </wsdl:message>
  <wsdl:message name="ILibraryService_GetBooksByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBooksByNameResponse" />
  </wsdl:message>
  <wsdl:message name="ILibraryService_GetBooksByAuthor_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBooksByAuthor" />
  </wsdl:message>
  <wsdl:message name="ILibraryService_GetBooksByAuthor_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBooksByAuthorResponse" />
  </wsdl:message>
  <wsdl:message name="ILibraryService_GetBooksByGenre_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBooksByGenre" />
  </wsdl:message>
  <wsdl:message name="ILibraryService_GetBooksByGenre_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBooksByGenreResponse" />
  </wsdl:message>
  <wsdl:message name="ILibraryService_AddBook_InputMessage">
    <wsdl:part name="parameters" element="tns:AddBook" />
  </wsdl:message>
  <wsdl:message name="ILibraryService_AddBook_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddBookResponse" />
  </wsdl:message>
  <wsdl:message name="ILibraryService_DeleteBook_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteBook" />
  </wsdl:message>
  <wsdl:message name="ILibraryService_DeleteBook_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteBookResponse" />
  </wsdl:message>
  <wsdl:message name="ILibraryService_UpdateBook_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateBook" />
  </wsdl:message>
  <wsdl:message name="ILibraryService_UpdateBook_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateBookResponse" />
  </wsdl:message>
  <wsdl:portType name="ILibraryService">
    <wsdl:operation name="GetBooks">
      <wsdl:input wsaw:Action="http://tempuri.org/ILibraryService/GetBooks" message="tns:ILibraryService_GetBooks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILibraryService/GetBooksResponse" message="tns:ILibraryService_GetBooks_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBooksByName">
      <wsdl:input wsaw:Action="http://tempuri.org/ILibraryService/GetBooksByName" message="tns:ILibraryService_GetBooksByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILibraryService/GetBooksByNameResponse" message="tns:ILibraryService_GetBooksByName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBooksByAuthor">
      <wsdl:input wsaw:Action="http://tempuri.org/ILibraryService/GetBooksByAuthor" message="tns:ILibraryService_GetBooksByAuthor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILibraryService/GetBooksByAuthorResponse" message="tns:ILibraryService_GetBooksByAuthor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBooksByGenre">
      <wsdl:input wsaw:Action="http://tempuri.org/ILibraryService/GetBooksByGenre" message="tns:ILibraryService_GetBooksByGenre_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILibraryService/GetBooksByGenreResponse" message="tns:ILibraryService_GetBooksByGenre_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddBook">
      <wsdl:input wsaw:Action="http://tempuri.org/ILibraryService/AddBook" message="tns:ILibraryService_AddBook_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILibraryService/AddBookResponse" message="tns:ILibraryService_AddBook_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteBook">
      <wsdl:input wsaw:Action="http://tempuri.org/ILibraryService/DeleteBook" message="tns:ILibraryService_DeleteBook_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILibraryService/DeleteBookResponse" message="tns:ILibraryService_DeleteBook_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateBook">
      <wsdl:input wsaw:Action="http://tempuri.org/ILibraryService/UpdateBook" message="tns:ILibraryService_UpdateBook_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILibraryService/UpdateBookResponse" message="tns:ILibraryService_UpdateBook_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ILibraryService" type="tns:ILibraryService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetBooks">
      <soap:operation soapAction="http://tempuri.org/ILibraryService/GetBooks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBooksByName">
      <soap:operation soapAction="http://tempuri.org/ILibraryService/GetBooksByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBooksByAuthor">
      <soap:operation soapAction="http://tempuri.org/ILibraryService/GetBooksByAuthor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBooksByGenre">
      <soap:operation soapAction="http://tempuri.org/ILibraryService/GetBooksByGenre" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddBook">
      <soap:operation soapAction="http://tempuri.org/ILibraryService/AddBook" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteBook">
      <soap:operation soapAction="http://tempuri.org/ILibraryService/DeleteBook" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateBook">
      <soap:operation soapAction="http://tempuri.org/ILibraryService/UpdateBook" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LibraryService">
    <wsdl:port name="BasicHttpBinding_ILibraryService" binding="tns:BasicHttpBinding_ILibraryService">
      <soap:address location="http://localhost:8000/LibraryService/LibraryService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>